# environment variables
.env

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Content from Dato CMS
static/data/

#DS_Store

.DS_Store
./static/.DS_Store