.link-primary,
.link-primary:visited {
  color: var(--pink-dark);
  text-decoration: underline;
  transition: all 0.3s ease 0s
}

.link-primary:hover,
.link-primary:focus {
  color: var(--pink);
}

.link-external {
  color: var(--blue);
  transition: all 0.3s ease 0s
}

.link-external:hover,
.link-external:focus {
  color: var(--blue-dark);
}

button,
.button {
  display: inline-block;
  padding: var(--spacing-half) var(--spacing-normal);
  border: none;
  font-size: var(--font-size-normal);
  text-decoration: none;
  transition: all 0.4s ease 0s
}

button:active,
.button:active {
  box-shadow: 1px 1px 1px var(--grey-dark);
	transform: translateY(2px);
}

button:not(:last-child) {
  margin-bottom: var(--spacing-normal);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button-primary {
  background-color: var(--pink);
  border-bottom: 2px solid var(--pink-secondary);
  color: var(--white);
  font-family: var(--font-bold);
  text-transform: uppercase;
	text-shadow: 0px -2px var(--pink-secondary);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--pink-light);
  text-shadow: none;
}

.button-secondary {
  font-family: var(--font-bold);
  background-color: var(--white);
  color: var(--pink);
  text-transform: uppercase;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--pink-light);
  color: var(--white);
}

.answer-button {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  background-color: var(--green);
  border-bottom: 2px solid var(--green-dark);
  color: var(--white);
  text-shadow: 0px -1px var(--green-dark);
}

.answer-button:hover,
.answer-button:focus {
  background-color: var(--green-dark);
  text-shadow: none;
}

.button-primary,
.button-secondary,
.answer-button,
.question {
  box-shadow: var(--button-shadow);
}

.button-round {
  display: flex;
  justify-content: center;
  height: var(--button-size);
  width: var(--button-size);
  padding: 0;
  background-color: var(--pink);
  border-radius: 50%;
  color: white;
  font-family: var(--font-bold);
  font-size: 1.75rem;
  text-decoration: none;
  line-height: 1rem;
  box-shadow: var(--box-shadow);
}

.button-round:hover,
.button-round:focus {
  background-color: var(--pink-secondary);
}