@import './fonts.css';
@import './variables.css';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.link-primary,
.link-primary:visited {
  color: var(--pink-dark);
  text-decoration: underline;
}

.link-primary:hover,
.link-primary:focus {
  color: var(--pink);
}

button,
.button {
  display: inline-block;
  padding: var(--spacing-half) var(--spacing-normal);
  border: none;
  font-size: var(--font-size-normal);
  text-decoration: none;
}

button:not(:last-child) {
  margin-bottom: var(--spacing-normal);
}

button:hover {
  cursor: pointer;
}

h1, h2 {
  margin-bottom: var(--spacing-normal);
}

p {
  margin-bottom: var(--spacing-normal);
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
p,
button {
  font-family: var(--font);
  font-size: var(--font-size-normal);
}

.a11y-sr-only {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  text-align: center;
  font-size: var(--font-size-normal);
  transition: all .3s cubic-bezier(.55,0,.1,1);
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: var(--spacing-double);
  margin-left: var(--spacing-double);
}

.toast {
  position: absolute;
  bottom: 0;
  left: var(--spacing-normal);
  right: var(--spacing-normal);
}

.card {
  padding: var(--spacing-double) var(--spacing-normal);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

.button-primary {
  background-color: var(--pink);
  font-family: var(--font-bold);
  color: var(--white);
  text-transform: uppercase;
}

.button-secondary {
  font-family: var(--font-bold);
  background-color: var(--white);
  color: var(--pink);
  text-transform: uppercase;
}

.answer-button {
  padding: var(--spacing-normal);
  background-color: var(--green);
  color: var(--white);
  width: 100%;
}

.button-primary,
.button-secondary,
.answer-button,
.question {
  box-shadow: var(--box-shadow);
}

.character {
  height: 100px;
  width: auto;
  margin-bottom: var(--spacing-normal);
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
