.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.bounce-enter-active {
  animation: bounce-in .8s;
}

.bounce-leave-active {
  animation: bounce-out .6s;
}

@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(0) }
}

@keyframes shake {
  10%, 90% {
    opacity: 1;
    transform: translate3d(-4px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-7px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(200px)
  }

  100% {
    transform: translateX(0);
  }
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .4s ease 2s;
}

.slide-up-leave-active {
  transition: all .6s ease;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translatey(100%);
}

.slow-slide-up-enter-active,
.slow-slide-up-leave-active {
  transition: all .4s ease 2s;
}

.slow-slide-up-leave-active {
  transition: all .6s ease;
}

.slow-slide-up-enter,
.slow-slide-up-leave-to {
  transform: translatey(100%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .5s ease;
}

.slide-right-enter,
.slide-right-leave-to  {
  transform: translatex(-100%);
}